<nav id="sidebar">
    <div class="sidebar-brand d-flex align-items-center">
        <div class="brand-icon">
            <i class="fa-solid fa-road"></i>
        </div>

        <div>
            <div class="brand-name">
                AppServiceAndTravel
            </div>

            <div class="brand-sub">
                Camino a la Exelencia
            </div>
        </div>
    </div>

    <div id="sidebarMenuContainer">
        <button class="btn btn-primary loadmenu">Cargar menu</button>
    </div>

    <div class="sidebar-footer mt-auto">
        <a asp-controller="Account" asp-action="Logout" class="sidebar-link">
            <i class="fa-solid fa-right-from-bracket"></i>
            Cerrar sesión
        </a>
    </div>

</nav>