<div class="container mt-3">
    <div class="alert alert-success">
        <p>Su cuenta ha sido confirmadaada, ya puedes iniciar sesión </p>
        <a asp-action="Login" asp-controller="Account" class="btn btn-link">Ingresar</a>
    </div>
    <div class="alert alert-danger">
        <p>No fue posible confirmadaar el correo</p>
    </div>
</div>