<div class="row">

    <div class="col-md-4">

        <div class="card shadow border-0">
            <div class="card-body">

                <h5>Cotizaciones</h5>

                <h2>@ViewBag.Cotizaciones</h2>

            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow border-0">
            <div class="card-body">

                <h5>Servicios</h5>

                <h2>@ViewBag.Servicios</h2>

            </div>
        </div>

    </div>

</div>